@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: 700;
}
body {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}
.title {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.text {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.section {
  width: 320px;
}
.btn {
  background-color: #81b3d2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 0 17px 0;
}
.page-header {
  width: 320px ;
  min-height: 55px;
  background-color: #957774;
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.page-header__burger {
  position: absolute;
  top: 0;
  left: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.page-header__burger:checked ~ nav {
  display: block;
}
.page-header__burger:checked ~ label::before {
  top: 239px;
}
.page-header__burger:checked ~ label::after {
  display: block;
}
.page-header__label {
  height: 0px;
}
.page-header__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-color: white;
  background-image: url(../img/icon-menu.svg.png);
  cursor: pointer;
}
.page-header__label::after {
  content: "";
  display: none;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-image: url(../img/icon-cross.png);
  z-index: 0;
  cursor: pointer;
}
.page-header__span {
  font-size: 0;
}
.page-header__nav {
  display: none;
}
.page-header a:last-child {
  -webkit-box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
}
.page-header__link {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  min-height: 55px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.page-header__link:hover {
  background-color: #669ec0;
}
.page-header__link:active {
  background-color: #5496bd;
  color: #94b9d2;
}
.page-header__logo-wrap {
  min-height: 55px;
  width: 100%;
  background-color: white;
  position: relative;
}
.page-header__logo-img {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
.intro {
  width: 320px;
  min-height: 26px;
  position: relative;
  margin: 0 auto;
  padding: 90px 0 80px 0;
  background-color: #957774;
  background-image: url(../img/intro-bg-mobile.jpg);
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
}
.intro::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-right: 160px solid white;
  border-left: 160px solid white;
}
.about {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 40px 32px 40px 32px;
  position: relative;
}
.about__title {
  margin: 0 0 30px 0;
}
.about::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 160px solid #81b3d2;
  border-left: 160px solid #81b3d2;
}
.main {
  width: 320px;
  margin: 0 auto;
  background-color: #81b3d2;
}
.main__section-one {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 20px 40px 20px;
  text-align: center;
  color: white;
}
.main__title--one {
  margin: 0 0 5px 0;
}
.main__text--number-one {
  margin: 0 0 12px 0;
}
.main__text--one {
  line-height: 22px;
}
.main__section-two {
  width: 320px;
  height: 260px;
  overflow: hidden;
  position: relative;
}
.main__section-two-photo {
  position: absolute;
  top: 0px;
  right: -100px;
}
.main__part-two {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 26px 0 39px 0;
  background-color: white;
}
.main__section-three {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 41px 14px 21px;
}
.main__section-three--wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 0 49px;
  background-image: url("../img/icon-house--mobile.png");
  background-size: 39px 37px;
  background-repeat: no-repeat;
  background-position: top left;
}
.main__title--three {
  margin: 0 0 13px 0;
}
.main__text--three {
  line-height: 22px;
}
.main__section-four {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 41px 21px 25px;
}
.main__section-four--wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 0 45px;
  background-image: url("../img/icon-gift--mobile.png");
  background-size: 32px 38px;
  background-repeat: no-repeat;
  background-position: top left;
}
.main__title--four {
  margin: 0 0 13px 0;
}
.main__text--four {
  line-height: 23px;
}
.main__section-five {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 41px 0 18px;
}
.main__section-five--wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0 0 51px;
  background-image: url("../img/icon-burger--mobile.png");
  background-size: 40px 35px;
  background-repeat: no-repeat;
  background-position: top left;
}
.main__title--five {
  margin: 0 0 14px 0;
}
.main__text--five {
  line-height: 21px;
}
.main__section-six {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 38px 20px 39px 20px;
  text-align: center;
  color: white;
}
.main__title--six {
  margin: 0 0 5px 0;
}
.main__text--number-six {
  margin: 0 0 12px 0;
}
.main__text--six {
  line-height: 22px;
}
.main__section-seven {
  width: 320px;
  height: 260px;
  overflow: hidden;
  position: relative;
}
.main__section-seven-photo {
  position: absolute;
  top: 0px;
  right: -100px;
}
.main__part-four {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 26px 0 0 0;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main__section-eight {
  width: 280px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 0 16px 27px 16px;
  margin: 0 0 22px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main__title--eight {
  margin: 0 0 6px 0;
}
.main__text--number-eight {
  margin: 0 0 11px 0;
}
.main__text--eight {
  line-height: 22px;
}
.main__section-nine {
  width: 280px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 16px 28px 16px;
  margin: 0 0 22px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main__title--nine {
  margin: 0 0 6px 0;
}
.main__text--number-nine {
  margin: 0 0 11px 0;
}
.main__text--nine {
  line-height: 22px;
}
.main__section-ten {
  width: 280px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 16px 28px 16px;
}
.main__title--ten {
  margin: 0 0 6px 0;
}
.main__text--number-ten {
  margin: 0 0 11px 0;
}
.main__text--ten {
  line-height: 22px;
}
.search {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 20px 49px 20px;
  text-align: center;
}
.search-wrap {
  width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.search__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 18px;
}
.search__text {
  line-height: 23px;
  margin-bottom: 36px;
}
.search__link-wrap {
  text-align: center;
}
.search__link {
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
