@page-header--bg-color:white;
@page-header--bg-contrast-color:#957774;
@page-header--bg-color2:#eeeeee;
@page-header__link--bg-color:#81b3d2;
@page-header__link--bg-color-hover:#669ec0;
@page-header__link--bg-color-active:#5496bd;
@page-header__link--color:white;
@page-header__link--color-active:#94b9d2;

// *****fonts*****
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: 700;
}

body{
  margin: 0;
  padding: 0;
}

// ******Elements*****



.link{
  text-decoration: none;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.title{
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.text{
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.section{
  width: 320px;
}

.btn{
  background-color: @page-header__link--bg-color;
  box-sizing: border-box;
  padding:17px 0 17px 0;
}


// *****Header*****

.page-header{
  width:320px ;
  min-height: 55px;
  background-color:@page-header--bg-contrast-color;
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;

  &__burger{
    position: absolute;
    top: 0;
    left: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked ~ nav{
      display: block;
    }
    &:checked ~ label::before{
      top: 239px;
    }
    &:checked ~ label::after{
      display: block;
    }
  }

  &__label{
    height: 0px;
    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      background-color: @page-header--bg-color;
      background-image: url(../img/icon-menu.svg.png);
      cursor: pointer;
    }
    &::after{
      content: "";
      display: none;
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      background-image: url(../img/icon-cross.png);
      z-index: 0;
      cursor: pointer;
    }
  }

  &__span{
    font-size: 0;
  }



  &__nav{
    display: none;
  }

  a:last-child{
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &__link{
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @page-header__link--color;
    background-color:@page-header__link--bg-color;
    text-align: center;
    vertical-align: middle;
    min-height: 55px;
    width: 100%;
    padding-top:18px;
    padding-bottom: 18px;
    border-top:1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    transition: background-color 0.2s,color 0.2s;
    &:hover{
      background-color:@page-header__link--bg-color-hover;
    }
    &:active{
      background-color:@page-header__link--bg-color-active;
      color: @page-header__link--color-active;
    }
  }

  &__logo-wrap{
    min-height: 55px;
    width: 100%;
    background-color:@page-header--bg-color;
    position: relative;
  }
  &__logo-img{
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.intro{
  width: 320px;
  min-height: 26px;
  position: relative;
  margin: 0 auto;
  padding: 90px 0 80px 0;
  background-color:@page-header--bg-contrast-color;
  background-image: url(../img/intro-bg-mobile.jpg);
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
  &::after{
    content:"";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-right: 160px solid @page-header--bg-color;
    border-left: 160px solid @page-header--bg-color;
  }
}

.about{
  width: 320px;
  box-sizing: border-box;
  text-align: center;
  margin:0 auto 0 auto;
  padding: 40px 32px 40px 32px;
  position: relative;
  &__title{
    margin: 0 0 30px 0;
  }
  &::after{
    content:"";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 160px solid @page-header__link--bg-color;
    border-left: 160px solid @page-header__link--bg-color;
  }
}

.main{
  width: 320px;
  margin: 0 auto;
  background-color:@page-header__link--bg-color;

  // css main__part-one

  &__section-one{
    width: 320px;
    box-sizing: border-box;
    padding: 40px 20px 40px 20px;
    text-align: center;
    color: @page-header__link--color;
  }
  &__title--one{
    margin: 0 0 5px 0;
  }
  &__text--number-one{
    margin: 0 0 12px 0;
  }
  &__text--one{
    line-height: 22px;
  }
  &__section-two{
    width: 320px;
    height: 260px;
    overflow: hidden;
    position: relative;
    &-photo{
      position: absolute;
      top: 0px;
      right: -100px;
    }
  }

  // css main__part-two

  &__part-two{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 26px 0 39px 0;
    background-color: @page-header--bg-color;
  }


  &__section-three{
    box-sizing: border-box;
    padding: 0 41px 14px 21px;
  }
  &__section-three--wrap{
    box-sizing: border-box;
    padding: 10px 0 0 49px;
    background-image: url("../img/icon-house--mobile.png");
    background-size: 39px 37px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--three{
    margin: 0 0 13px 0;
  }

  &__text--three{
    line-height: 22px;
  }

  &__section-four{
    box-sizing: border-box;
    padding: 0 41px 21px 25px;
  }
  &__section-four--wrap{
    box-sizing: border-box;
    padding: 10px 0 0 45px;
    background-image: url("../img/icon-gift--mobile.png");
    background-size: 32px 38px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--four{
    margin: 0 0 13px 0;
  }
  &__text--four{
    line-height: 23px;
  }

  &__section-five{
    box-sizing: border-box;
    padding: 0 41px 0 18px;
  }
  &__section-five--wrap{
    box-sizing: border-box;
    padding: 5px 0 0 51px;
    background-image: url("../img/icon-burger--mobile.png");
    background-size: 40px 35px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--five{
    margin: 0 0 14px 0;
  }
  &__text--five{
    line-height: 21px;
  }

  // css main_part-three
  &__section-six{
    width: 320px;
    box-sizing: border-box;
    padding: 38px 20px 39px 20px;
    text-align: center;
    color: @page-header__link--color;
  }
  &__title--six{
    margin: 0 0 5px 0;
  }
  &__text--number-six{
    margin: 0 0 12px 0;
  }
  &__text--six{
    line-height: 22px;
  }
  &__section-seven{
    width: 320px;
    height: 260px;
    overflow: hidden;
    position: relative;
    &-photo{
      position: absolute;
      top: 0px;
      right: -100px;
    }
  }

  // css main_part-four
  &__part-four{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 26px 0 0 0;
    background-color: @page-header--bg-color2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__section-eight{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 0 16px 27px 16px;
    margin: 0 0 22px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__title--eight{
    margin: 0 0 6px 0;
  }

  &__text--number-eight{
    margin: 0 0 11px 0;
  }

  &__text--eight{
    line-height: 22px;
  }

  &__section-nine{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 16px 28px 16px;
    margin: 0 0 22px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__title--nine{
    margin: 0 0 6px 0;
  }

  &__text--number-nine{
    margin: 0 0 11px 0;
  }

  &__text--nine{
    line-height: 22px;
  }

  &__section-ten{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 16px 28px 16px;
  }



  &__title--ten{
    margin: 0 0 6px 0;
  }

  &__text--number-ten{
    margin: 0 0 11px 0;
  }

  &__text--ten{
    line-height: 22px;
  }

}

.search{
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 20px 49px 20px;
  text-align: center;
  &-wrap{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &__title{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  &__text{
    line-height: 23px;
    margin-bottom: 36px;
  }

  &__link-wrap{
    text-align: center;
  }

  &__link{
    text-transform: uppercase;
    color: @page-header__link--color;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

}
