@page-header--bg-color:white;
@page-header--bg-contrast-color:#957774;
@page-header--bg-color2:#eeeeee;
@page-header__link--bg-color:#81b3d2;
@page-header__link--bg-color-hover:#669ec0;
@page-header__link--bg-color-active:#5496bd;
@page-header__link--color:white;
@page-header__link--color-active:#94b9d2;
@mobile-width:320px;
@tablet-width:768px;
@desktop-width:1200px;

// *****fonts*****
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: 700;
}

body{
  margin: 0;
  padding: 0;
}

// ******Elements*****

.link{
  text-decoration: none;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.title{
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.text{
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.section{
  width: 320px;
}


// *****Header*****

.page-header{
  width:320px ;
  min-height: 55px;
  background-color:@page-header--bg-contrast-color;
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;

  &__burger{
    position: absolute;
    top: 0;
    left: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked ~ nav{
      display: block;
    }
    &:checked ~ label::before{
      top: 239px;
    }
    &:checked ~ label::after{
      display: block;
    }
  }

  &__label{
    height: 0px;
    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      background-color: @page-header--bg-color;
      background-image: url(../img/icon-menu.svg.png);
      cursor: pointer;
    }
    &::after{
      content: "";
      display: none;
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      background-image: url(../img/icon-cross.png);
      z-index: 0;
      cursor: pointer;
    }
  }

  &__span{
    font-size: 0;
  }

  &__nav{
    display: none;
  }

  a:first-child{
    padding-right: 42px;
    padding-left: 42px;
  }

  a:last-child{
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &__link{
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @page-header__link--color;
    background-color:@page-header__link--bg-color;
    text-align: center;
    vertical-align: middle;
    min-height: 55px;
    width: 100%;
    padding: 18px;
    border-top:1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    transition: background-color 0.2s,color 0.2s;
    word-wrap: break-word;
    &:hover{
      background-color:@page-header__link--bg-color-hover;
    }
    &:active{
      background-color:@page-header__link--bg-color-active;
      color: @page-header__link--color-active;
    }
  }

  &__logo-wrap{
    min-height: 55px;
    width: 100%;
    background-color:@page-header--bg-color;
    position: relative;
  }
  &__logo-img{
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@media (min-width:@tablet-width) {
  .page-header__burger,
  .page-header__label,
  .page-header__span{
    display: none;
  }

  .page-header{
    width: @tablet-width;
    flex-direction: column;

    a:first-child{
      padding-right: 0;
      padding-left: 0;
    }

    a:last-child{
      box-shadow: none;
    }

    a:nth-of-type(2){
      margin-right: auto;
    }
    a:nth-of-type(3){
      margin-left: auto;
    }

    &__logo-wrap{
      min-height: 0px;
    }
    &__nav{
      display: flex;
      justify-content:space-between;
      align-items: center;
      min-height: 55px;
      background-color: @page-header--bg-color;

    }
    &__link{
      border: none;
      color: black;
      width: 163px;
      padding: 18px 5px;
      background-color: @page-header--bg-color;
      &:hover{
        background-color: @page-header--bg-color;
        color: @page-header__link--bg-color;
      }
      &:active{
        background-color: @page-header--bg-color;
        color: @page-header--bg-color2;
      }
    }
  }

}

@media (min-width:@desktop-width) {
  .page-header{
    width: @desktop-width;
    a:nth-of-type(2){
      margin-right: 100px;
    }
    a:nth-of-type(3){
      margin-left: 100px;
    }
    &__nav{
      justify-content: space-around;
    }
  }
}

// *****intro*****

.intro{
  width: 320px;
  min-height: 26px;
  position: relative;
  margin: 0 auto;
  padding: 90px 0 80px 0;
  background-color:@page-header--bg-contrast-color;
  background-image: url(../img/intro-bg-mobile.jpg);
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
  &::after{
    content:"";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-right: 160px solid @page-header--bg-color;
    border-left: 160px solid @page-header--bg-color;
  }
}

@media (min-width:@tablet-width) {
  .intro{
    width: @tablet-width;
    padding: 79px 0 85px 0;
    background-image: url(../img/intro-bg-desktop.jpg);
    &::before{
      content:"";
      position: absolute;
      display: block;
      bottom: 0px;
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-right: 384px solid @page-header--bg-color;
      border-left: 384px solid @page-header--bg-color;
    }

    &::after{
      left: 50%;
      transform: translateX(-50%);
      border-top: 55px solid transparent;
      border-right: 350px solid @page-header--bg-color;
      border-left: 350px solid @page-header--bg-color;
    }
  }

}

@media (min-width:@desktop-width) {
  .intro{
    width: @desktop-width;
    padding: 78px 0 86px 0;
    background-image: url(../img/intro-bg-desktop.jpg);
    &::before{
      content:"";
      position: absolute;
      display: block;
      bottom: 0px;
      width: 0;
      height: 0;
      border-top: 58px solid transparent;
      border-right: 600px solid @page-header--bg-color;
      border-left: 600px solid @page-header--bg-color;
    }

    &::after{
      left: 50%;
      transform: translateX(-50%);
      border-top: 58px solid transparent;
      border-right: 350px solid @page-header--bg-color;
      border-left: 350px solid @page-header--bg-color;
    }
  }

}

// *****about*****

.about{
  width: 320px;
  box-sizing: border-box;
  text-align: center;
  margin:0 auto 0 auto;
  padding: 40px 32px 40px 32px;
  position: relative;
  &__title{
    margin: 0 0 30px 0;
    word-wrap: break-word;
  }
  &__text{
    word-wrap: break-word;
  }
  &::after{
    content:"";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 160px solid @page-header__link--bg-color;
    border-left: 160px solid @page-header__link--bg-color;
  }
}
@media (min-width:@tablet-width) {
  .about{
    width: 550px;
    padding: 50px 32px 48px 32px;
    &::after{
      all: unset;
    }
    &__title{
      font-size: 21px;
    }
  }

}


// *****main*****


.main{
  width: 320px;
  margin: 0 auto;
  background-color:@page-header__link--bg-color;

  // ***** main__part-one *****

  &__section-one{
    width: 320px;
    box-sizing: border-box;
    padding: 40px 20px 40px 20px;
    text-align: center;
    color: @page-header__link--color;
  }
  &__title--one{
    margin: 0 0 5px 0;
    word-wrap: break-word;
  }
  &__text--number-one{
    margin: 0 0 12px 0;
    word-wrap: break-word;
  }
  &__text--one{
    line-height: 22px;
    word-wrap: break-word;
  }
  &__section-two{
    width: 320px;
    height: 260px;
    overflow: hidden;
    position: relative;
    &-photo{
      position: absolute;
      top: 0px;
      right: -100px;
    }
  }


  // css main__part-two

  &__part-two{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 26px 0 39px 0;
    background-color: @page-header--bg-color;
  }


  &__section-three{
    box-sizing: border-box;
    padding: 0 41px 14px 21px;
  }
  &__section-three--wrap{
    box-sizing: border-box;
    padding: 10px 0 0 49px;
    background-image: url("../img/icon-house--mobile.png");
    background-size: 39px 37px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--three{
    margin: 0 0 13px 0;
    word-wrap: break-word;
  }

  &__text--three{
    line-height: 22px;
    word-wrap: break-word;
  }

  &__section-four{
    box-sizing: border-box;
    padding: 0 41px 21px 25px;
  }
  &__section-four--wrap{
    box-sizing: border-box;
    padding: 10px 0 0 45px;
    background-image: url("../img/icon-gift--mobile.png");
    background-size: 32px 38px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--four{
    margin: 0 0 13px 0;
    word-wrap: break-word;
  }
  &__text--four{
    line-height: 23px;
    word-wrap: break-word;
  }

  &__section-five{
    box-sizing: border-box;
    padding: 0 41px 0 18px;
  }
  &__section-five--wrap{
    box-sizing: border-box;
    padding: 5px 0 0 51px;
    background-image: url("../img/icon-burger--mobile.png");
    background-size: 40px 35px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__title--five{
    margin: 0 0 14px 0;
    word-wrap: break-word;
  }
  &__text--five{
    line-height: 21px;
    word-wrap: break-word;
  }

  // css main_part-three
  &__section-six{
    width: 320px;
    box-sizing: border-box;
    padding: 38px 20px 39px 20px;
    text-align: center;
    color: @page-header__link--color;
  }
  &__title--six{
    margin: 0 0 5px 0;
    word-wrap: break-word;
  }
  &__text--number-six{
    margin: 0 0 12px 0;
    word-wrap: break-word;
  }
  &__text--six{
    line-height: 22px;
    word-wrap: break-word;
  }
  &__section-seven{
    width: 320px;
    height: 260px;
    overflow: hidden;
    position: relative;
    &-photo{
      position: absolute;
      top: 0px;
      right: -100px;
    }
  }

  // css main_part-four
  &__part-four{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 26px 0 0 0;
    background-color: @page-header--bg-color2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__section-eight{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 0 16px 27px 16px;
    margin: 0 0 22px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__title--eight{
    margin: 0 0 6px 0;
    word-wrap: break-word;
  }

  &__text--number-eight{
    margin: 0 0 11px 0;
    word-wrap: break-word;
  }

  &__text--eight{
    line-height: 22px;
    word-wrap: break-word;
  }

  &__section-nine{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 16px 28px 16px;
    margin: 0 0 22px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__title--nine{
    margin: 0 0 6px 0;
    word-wrap: break-word;
  }

  &__text--number-nine{
    margin: 0 0 11px 0;
    word-wrap: break-word;
  }

  &__text--nine{
    line-height: 22px;
    word-wrap: break-word;
  }

  &__section-ten{
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 16px 28px 16px;
  }



  &__title--ten{
    margin: 0 0 6px 0;
    word-wrap: break-word;
  }

  &__text--number-ten{
    margin: 0 0 11px 0;
    word-wrap: break-word;
  }

  &__text--ten{
    line-height: 22px;
    word-wrap: break-word;
  }

}
.hide{
  display: none;
}

// *****media main*****
@media (min-width:@tablet-width) {
  .main{
    width: @tablet-width;
  }
}

@media (min-width:@desktop-width) {
  .main{
    width: @desktop-width;
  }
}
// ***part_one***

@media (min-width:@tablet-width) {
  .main__part-one{
    display: flex;
  }
  .main__title--one{
    font-size: 21px;
    margin: 5px 0 5px 0;
  }
  .main__text--number-one{
    margin: 0 0 20px 0;
  }
  .main__section-one{
    width: 256px;
    padding: 40px 45px 40px 45px;
  }
  .main__section-two{
    width: 512px;
    height: 256px;
    &-photo{
      right: 0;
    }
  }
}

@media (min-width:@desktop-width) {
  .main{
    &__section-one {
      width: 402px;
      padding: 48px 45px 40px 45px;
    }
    &__title--one {
      margin: 5px 75px 5px 75px;
    }
    &__text--one {
      padding: 0 20px 0 20px;
    }
    &__section-two{
      width: 798px;
    }
  }
}

// ***part_two***
@media (min-width:@tablet-width) {
  .main__part-two{
    width: @tablet-width;
    display: flex;
    flex-direction: row;
    padding: 26px 0 55px 0;
  }

  .main__section-three{
    padding: 0;
  }
  .main__section-three--wrap{
    width: 256px;
    background-image: url("../img/icon-house-desktop.png");
    padding: 135px 45px 0 45px;
    background-position: 50% 21%;
    background-size: auto;
    text-align: center;
  }

  .main__title--three{
    font-size: 21px;
    margin: 0 0 20px 0;
  }

  .main__section-four{
    padding: 0;
    order: 3;
  }

  .main__section-four--wrap{
    width: 256px;
    background-image: url("../img/icon-gift-desktop.png");
    padding: 135px 45px 0 45px;
    background-position: 50% 18%;
    background-size: auto;
    text-align: center;

  }

  .main__title--four{
    font-size: 21px;
    margin: 0 0 20px 0;
  }

  .main__section-five{
    padding: 0;
  }

  .main__section-five--wrap{
    width: 256px;
    background-image: url("../img/icon-burger-desktop.png");
    padding: 135px 45px 0 45px;
    background-position: 50% 21%;
    background-size: auto;
    text-align: center;
  }

  .main__title--five{
    font-size: 21px;
    margin: 0 0 20px 0;
  }
}

@media (min-width:@desktop-width) {
  .main{
    &__part-two{
      width: @desktop-width;
      padding: 26px 0 78px 0;
    }
    &__section-three{
      width: 400px;
      &--wrap{
        margin: 0 auto;
        width: 350px;
      }
    }
    &__section-four{
      width: 400px;
      &--wrap{
        margin: 0 auto;
        width: 350px;
      }
    }
    &__section-five{
      width: 400px;
      &--wrap{
        margin: 0 auto;
        width: 380px;
      }
    }
  }

  .hide{
    display: block;
  }
}

// ***part_three***
@media (min-width:@tablet-width) {
  .main__part-three{
    width: @tablet-width;
    display: flex;
    flex-direction: row-reverse;
  }
  .main__section-six{
    width: 256px;
  }
  .main__title--six{
    font-size: 21px;
    margin: 7px 33px 7px 33px;
  }
  .main__text--number-six{
    margin: 0 0 17px 0;
  }
  .main__text--six{
    margin: 0px 30px 0px 30px;
  }
  .main__section-seven{
    width: 512px;
    height: 256px;
  }
}

@media (min-width:@desktop-width) {
  .main{
    &__part-three {
      width: @desktop-width;
    }
    &__section-six {
      width: 400px;
    }
    &__section-seven {
      width: 800px;
    }
  }

}

// ***part_four***
@media (min-width:@tablet-width) {
  .main__part-four{
    width: @tablet-width;
    display: flex;
    flex-direction: row;
    padding: 26px 0 15px 0;
  }
  .main__section-eight{
    border: none;
    margin: 0;
    padding: 20px 20px 27px 20px;
  }
  .main__title--eight{
    font-size: 21px;
  }
  .main__text--eight{
    padding: 7px 21px 0px 20px;
  }
  .main__section-nine{
    border: none;
    margin: 0;
    padding: 20px 20px 27px 20px;
  }
  .main__title--nine{
    font-size: 21px;
    padding: 0px 20px 0px 20px;
  }
  .main__text--nine{
    padding: 7px 35px 0px 35px;
  }

  .main__section-ten{
    border: none;
    margin: 0;
    padding: 20px 20px 27px 20px;
  }
  .main__title--ten{
    font-size: 21px;
    padding: 0px 30px 0px 30px;
  }
  .main__text--ten{
    padding: 7px 35px 0px 35px;
  }

}

@media (min-width:@desktop-width) {
  .main{
    &__part-four {
      width: @desktop-width;
    }
    &__section-eight {
      width: 400px;
    }
    &__title--eight{
      margin: 0 70px 6px 70px;
    }
    &__section-nine {
      width: 400px;
    }
    &__title--nine{
      margin: 0 85px 6px 85px;
    }
    &__section-ten {
      width: 400px;
    }
    &__title--ten{
      margin: 0 75px 6px 75px;
    }
  }
}

.search{
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 20px 49px 20px;
  text-align: center;
  &-wrap{
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &__title{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 18px;
    word-wrap: break-word;
  }

  &__text{
    line-height: 23px;
    margin-bottom: 36px;
    word-wrap: break-word;
  }


  &__link{
    display: block;
    vertical-align: middle;
    background-color: @page-header__link--bg-color;
    box-sizing: border-box;
    padding:17px 5px 17px 5px;
    text-transform: uppercase;
    color: @page-header__link--color;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    word-wrap: break-word;
    &:hover{
        background-color: @page-header__link--bg-color-hover;
      }
    &:active{
        background-color: @page-header__link--bg-color-active;
        color: @page-header__link--color-active;
      }
  }

}

// *****medea search*****
@media (min-width:@tablet-width) {
  .search-wrap{
    width: @tablet-width;
  }

  .search{
    width: 460px;
    padding: 55px 0px 58px 0px;
  }
  .search__title{
      font-size: 30px;
      margin-bottom: 32px;
    }
  .search__text{
      margin-bottom: 42px;
    }

}

@media (min-width:@desktop-width) {
  .search{
    padding: 77px 0px 65px 0px;
    &-wrap{
      width: @desktop-width;
    }
    &__text{
      margin-bottom: 47px;
    }
  }

}

// *****map*****
.map{
  margin: 0 auto;
  width: 320px;
  height: 350px;
}

// *****media map*****

@media (min-width:@tablet-width) {
  .map{
    width: @tablet-width;
  }
  iframe{
    width: @tablet-width;
  }
}

@media (min-width:@desktop-width) {
  .map{
    width: @desktop-width;
  }
  iframe{
    width: @desktop-width;
  }
}
// *****footer*****

.footer{
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding: 37px 0 23px 0;
  text-align: center;
  &__title{
    font-size: 21px;
    line-height: 26px;
    margin:0 0 28px 0;
    word-wrap: break-word;
  }
  &__links{
    margin: 0 0 40px 0;
  }
  &__twitter{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: @page-header__link--bg-color;
    background-image: url(../img/icon-twitter.png);
    background-size: 18px 14px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    &:hover{
        background-color: @page-header__link--bg-color-hover;
      }
    &:active{
        background-color: @page-header__link--bg-color-active;
      }
  }
  &__facebook{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: @page-header__link--bg-color;
    background-image: url(../img/icon-facebook.png);
    background-size: 9px 18px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    &:hover{
        background-color: @page-header__link--bg-color-hover;
      }
    &:active{
        background-color: @page-header__link--bg-color-active;
      }
  }
  &__youtube{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: @page-header__link--bg-color;
    background-image: url(../img/icon-youtube.png);
    background-size: 20px 14px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    &:hover{
        background-color: @page-header__link--bg-color-hover;
      }
    &:active{
        background-color: @page-header__link--bg-color-active;
      }
  }

  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__dev{
    color: black;
    text-transform: uppercase;
    margin: 0 10px 10px 0;
    word-wrap: break-word;
  }
  &__dev_logo{
    display: inline-block;
    width: 27px;
    height: 34px;
    background-image: url(../img/htmlacademy.png);
    background-size: 27px 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 0;
    &:hover{
      background-image: url(../img/htmlacademy_hover.png);
    }
    &:active{
      background-image: url(../img/htmlacademy_active.png);
    }
  }
}

// *****media footer*****

@media (min-width:@tablet-width) {
  .footer{
    width: @tablet-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 29px 0 23px 0;
    &__title{
      margin: 0;
    }
    &__links{
      margin: 0 5px 0px 0;
    }
    &__dev{
      margin: 0 15px 0px 0;
    }
  }
}
@media (min-width:@desktop-width) {
  .footer{
    width: @desktop-width;
  }
}
