.photo{
  width: 320px;
  margin: 0 auto 0 auto;
  &__title-wrap{
    width: 320px;
    text-align: center;
    padding: 38px 20px 24px 20px;
    margin: 0 auto;
    border-bottom: 1px solid @page-header--bg-color2;
    box-sizing: border-box;
  }
  .photo__title{
    word-wrap: break-word;
    margin: 0 0 23px 0;
  }
  &__text{
    word-wrap: break-word;
    margin: 0 0 0 0;
  }
}

.post{
  width: 320px;
  padding: 22px 0 15px 0;
  box-sizing: border-box;
  border-bottom: 1px solid @page-header--bg-color2;
  text-align: center;
  &__img{
    width: 280px;
    height: 280px;
    margin: 0 auto 0 auto;
  }
  &__about{
    width: 280px;
    text-align: left;
    margin: 0 auto 0 auto;
    padding:  11px 0 0 0;
    box-sizing: border-box;
  }
  .post__title{
    margin: 0 0 0 0;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
  }
  .post__text{
    margin: 0 0 6px 0;
    word-wrap: break-word;
    text-transform: none;
  }
  .post__likes{
    font-weight: 700;
    padding: 0 0 0 37px;
    margin: 0 0 0 0;
    word-wrap: break-word;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 21px;

      background-image: url(../img/like-icon.png);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

// *****media photo*****

@media (min-width:@tablet-width) {
  .hide{
    display: none;
  }
  .photo{
    width: 648px;
    display: flex;
    flex-wrap: wrap;

    &__title-wrap{
      width: 485px;
      padding: 75px 20px 24px 20px;
      border: none;
    }
    .photo__title{
      font-size: 30px;
      line-height: 26px;
      margin: 0 0 29px 0;
    }
    &__title-wrap {
      margin: 0 auto 21px auto;
    }


  }

.photo section:nth-child(2){
  width: 648px;

  .post__img{
    width: 648px;
    height: 400px;
  }
  .post__about{
    padding: 16px 20px 8px 20px;
    bottom: -61px;
  }

}

  .post{
  border: none;
  position: relative;
  width: 324px;
  margin: 0 0 39px 0;
    &__about{
      width: 100%;
      min-height: 80px;
      background-color: @input--bg-color;
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;

      box-sizing: border-box;
      position: absolute;

      left: 0;
      box-sizing: border-box;
      padding: 16px 31px 8px 20px;
      bottom: -61px;
    }
    &__text{
      text-align: left;
    }
    .post__img{
      width: 324px;
      height: 267px;
    }
    &__likes{
      font-size: 14px;
    }
  }
}
