.video{
  width: 320px;
  margin: 0 auto;
  padding: 33px 0 0 0;
  box-sizing: border-box;
  &__title-wrap{
    width: 280px;
    margin: 0 auto;
    padding: 0 0 31px 0;
    box-sizing: border-box;
    text-align: center;
  }
  .video__title{
    margin:  0 0 23px 0;
    word-wrap: break-word;
  }
  .video__text{
    margin: 0 0 0 0;
    word-wrap: break-word;
  }
  &-post{
    width: 320px;
    margin: 0 auto;
  }
  &__img{
    width: 320px;
    height: 201px;

  }
  &-post__play{
    width: 280px;
    height: 111px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -48px;
    left: 0;
    justify-content: space-around;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 280px;
      height: 66px;
      background-color: @input--bg-color;
    }
  }
  &-post__scale--wrap{
    order:0;
    width: 280px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2;
    vertical-align: middle;
    a {
      display: block;
      position: relative;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
  }
  &-post__replay{
    order: 1;
    flex-grow: 7;
    padding: 0 0 0 23px;
    z-index: 2;
  }
  &-post__subtitles{
    order: 2;
    flex-grow: 2;
    z-index: 2;
  }
  &-post__fullscreen{
    order: 3;
    flex-grow: 1;
    z-index: 2;
  }
}

// *****media video*****

@media (min-width:@tablet-width) {
  .video{
    width: 648px;
    padding: 89px 0 66px 0;
    &__title-wrap {
      width: 648px;
      margin: 0 0 39px 0;
    }
    .video__title{
      font-size: 30px;
      line-height: 26px;
      margin: 0 0 29px 0;
    }
    .video__text{
      padding: 0 107px 0 107px;
    }

    &-post{
      width: 648px;
      position: relative;
    }
    &__img{
      width: 648px;
      height: 499px;
    }
    &-post__play{
      width: 648px;
      height: 93px;
      position: absolute;
      top: auto;
      bottom: 3px;
      background-color: rgba(0, 0, 0, 0.7);
      align-items: center;

      &:after{
        display: none;
      }
    }
    &-post__scale--wrap {
      width: 389px;
      background-color: transparent;
      flex-shrink: 0;
    }
    &-post__replay{
      order: 0;
      flex-grow: 0;
      padding: 0 0 0 0;
      margin: 0 0 0 17px;
    }
    &-post__subtitles{
      flex-grow: 0;
      margin: 0px -8px 0 7px;
    }
    &-post__fullscreen{
      flex-grow: 0;
      margin: 0 21px 0 0px;
    }
  }

}
